In [4]:
import pandas as pd
df = pd.DataFrame({'AB': ['A1-B1', 'A2-B2']})
df

      AB
0  A1-B1
1  A2-B2

In [5]:
df['AB'].str[2]

0    -
1    -
Name: AB, dtype: object

In [6]:
df['AB'].str.split('-', 1)

0    [A1, B1]
1    [A2, B2]
Name: AB, dtype: object

In [21]:
df['AB'].str.split('-', 1).str[0]

0    A1
1    A2
Name: AB, dtype: object

In [12]:
df['A'], df['B'] = df['AB'].str.split('-', 1).str[0], df['AB'].str.split('-', 1).str[1]

In [13]:
df

      AB   A   B
0  A1-B1  A1  B1
1  A2-B2  A2  B2

In [8]:
pd